.stack-work
.git
expanded_racket*
racket_expanded*.tgz
.#*
*.exe
*.o
*~
ASTBenchmarks/cleaned_*
ASTBenchmarks/expanded_*
ASTBenchmarks/*.tgz
BintreeBench/*.exe

compiled/

.racket_sandbox/*

gibbon-compiler/.stack-work
gibbon-compiler/examples/build_tmp/*
gibbon-compiler/.ghc.environment.*
gibbon-compiler/dist
gibbon-compiler/dist-newstyle
gibbon-compiler/.dist-newstyle*
gibbon-compiler/cabal.project.local
