.stack-work
.git
expanded_racket*
racket_expanded*.tgz
.#*
*.exe
*.o
*~
ASTBenchmarks/cleaned_*
ASTBenchmarks/expanded_*
ASTBenchmarks/*.tgz
BintreeBench/*.exe
gibbon-compiler/.stack-work

compiled/

.racket_sandbox/*

gibbon-compiler/examples/build_tmp/*

## From the github/gitignore repository
## https://github.com/github/gitignore/blob/master/TeX.gitignore
## Core latex/pdflatex auxiliary files:
paper/*.aux
paper/*.lof
paper/*.log
paper/*.lot
paper/*.fls
paper/*.out
paper/*.toc
paper/*.fmt
paper/*.fot
paper/*.cb
paper/*.cb2
