.stack-work
.git
expanded_racket*
racket_expanded*.tgz
.#*
*.exe
*.o
*~
ASTBenchmarks/cleaned_*
ASTBenchmarks/expanded_*
ASTBenchmarks/*.tgz
ASTBenchmarks/binary_racket/*
ASTBenchmarks/sorted_binary_files.txt
ASTBenchmarks/sorted_cleaned_files.txt
BintreeBench/*.exe

compiled/

.racket_sandbox/*
gibbon-rts/build
gibbon-compiler/build/
**/gibbon-compiler/examples/parallel/data/


dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
stack*.yaml.lock
.vscode/*